* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    background: lightgreen;
}
header {
    background: lightyellow;
    min-width: 300px;
    padding: 10px;
    margin: 10px;
    border: 5px solid lightcoral;
}

#gamewindow {
    background-color: aqua;
    min-width: 800px;
    height: 100vh;
    margin: 10px;
    padding: 10px;
    border: 5px solid lightcoral;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    margin: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30vh;
    width: 300px;
    border: 5px solid lightcoral;
    background: lightskyblue;
}