* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    background: lightgreen;
}
header {
    background: lightyellow;
    min-width: 300px;
    padding: 10px;
    margin: 10px;
    border: 5px solid lightcoral;
}
#your-message {
    margin: 16px 0;
    background: wheat;
    border-radius: 10px;
}
.msg {
    list-style: none;
    border: 3px solid lightsalmon;
    border-radius: 10px;
    padding: 6px 6px;
    background: lavender;
    margin: 6px 6px;
}
.toolbox {
    align-items: center;
    display: flex;
    margin: 10px 10px;
    padding: 10px 10px;
    border: 3px solid lightcoral;
    border-radius: 10px;
    background: lightpink;
}
.toolbox h2 {
    margin: 10px;
}
.toolicon img {
    width: 60px;
    margin: 5px 5px;
    padding: 5px 5px;
    border-radius: 10px;
    border: 2px solid lightblue;
}
.toolicon img:hover {
    background: lightsalmon;
}
audio {
    width: 100%;
}

#gamewindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    min-width: 800px;
    height: 96vh;
    margin: 10px;
    padding: 10px;
    border: 5px solid lightcoral;
}
#gameheader {
    background: lightcoral;
    padding: 10px 10px;
    border-radius: 6px;
    opacity: 90%;
}
#gamecharge {
    float: right;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    margin: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30vh;
    width: 300px;
    border: 5px solid lightcoral;
    background: lightskyblue;
}